$icons: (
	sprite: (
		width: 251px,
		height: 155px,
		pngPath: 'images/sprite.png',
		svgPath: 'images/sprite.svg'
	),
	Slices: (
		width: 50.2px,
		height: 47.3px,
		backgroundX: -200px,
		backgroundY: 0px
	),
	closeconnections_white: (
		width: 35.4px,
		height: 9.5px,
		backgroundX: -200px,
		backgroundY: -143.3px
	),
	facebook: (
		width: 48px,
		height: 48px,
		backgroundX: -200px,
		backgroundY: -47.3px
	),
	instagram: (
		width: 48px,
		height: 48px,
		backgroundX: -200px,
		backgroundY: -95.3px
	),
	logo: (
		width: 200px,
		height: 100px,
		backgroundX: 0px,
		backgroundY: 0px
	),
	miiissy_white: (
		width: 60px,
		height: 43px,
		backgroundX: -73.7px,
		backgroundY: -100px
	),
	vortexpost_white: (
		width: 73.7px,
		height: 54.3px,
		backgroundX: 0px,
		backgroundY: -100px
	)
);
