$font-family: 'Roboto', sans-serif;

$color-white-1: #fafafa;
$color-white-2: #fff;
$color-gray-1: #212121;
$color-gray-2: #1f1f1f;
$color-gray-3: #e6e6e6;
$color-black: #0D0D0D;
$color-yellow-1: #FFD740;